body {
    font-size: 30px;
    color: yellow;  
}

#FootballTeams{
	text-align: center;
	height: 35px;
	background-color: red;
	color: white;
	font-family: sans-serif;
}

#winner{
	font-size: 80px;
	text-align:center;
    font-family: sans-serif;
}
#imgres.jpg{
background-image: imgres.jpg;

}

